/* line 1, ../../sass/views/calc.scss */
#page-calculator {
  background-image: linear-gradient(rgba(255, 255, 255, 0.9), rgba(255, 255, 255, 0.4)), url("../images/blue.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  height: 150vh;
  -webkit-animation: fadein 4s;
  -moz-transition: fadein 4s;
  -o-transition: fadein 4s;
  -ms-transition: fadein 4s;
  transition: fadein 4s;
  padding-top: 50px;
}

/* line 14, ../../sass/views/calc.scss */
#intake-calculator {
  margin-top: 30px;
  border-radius: 8px;
  font-family: 'Oxygen', sans-serif;
}
/* line 18, ../../sass/views/calc.scss */
#intake-calculator h5 {
  margin-left: 20px;
  margin-bottom: 16px;
}

/* line 24, ../../sass/views/calc.scss */
.message {
  color: #b90000;
}

/* line 28, ../../sass/views/calc.scss */
.step-wrapper {
  text-align: left;
  padding: 15px;
  margin-bottom: 30px;
  border-radius: 8px;
  border: #bbfaff 1px solid;
  font-color: #181717;
}
/* line 37, ../../sass/views/calc.scss */
.step-wrapper h4 {
  margin-bottom: 15px;
}

/* line 42, ../../sass/views/calc.scss */
.table-item {
  font-size: 13px;
}

@keyframes fadein {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
@-moz-keyframes fadein {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
@-webkit-keyframes fadein {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
@-ms-keyframes fadein {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
@-o-keyframes fadein {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
