/* line 1, ../../sass/views/main.scss */
#main-jumbotron {
  background-image: linear-gradient(rgba(255, 255, 255, 0.3), rgba(255, 255, 255, 0.6)), url("../images/main-jbtr.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  height: 100vh;
  margin: 0px;
  padding: 0px;
}
/* line 10, ../../sass/views/main.scss */
#main-jumbotron #jumbo-box-wrapper {
  margin-top: 30px;
}
/* line 13, ../../sass/views/main.scss */
#main-jumbotron .jumbo-box {
  text-align: center;
  opacity: 1;
  -webkit-animation: fadein 4s;
  -moz-transition: fadein 4s;
  -o-transition: fadein 4s;
  -ms-transition: fadein 4s;
  transition: fadein 4s;
}
/* line 23, ../../sass/views/main.scss */
#main-jumbotron .imgOn {
  background-image: url("../images/water-in-body.png");
  background-repeat: no-repeat;
  background-position: center;
  opacity: 0.8;
}
/* line 29, ../../sass/views/main.scss */
#main-jumbotron #title {
  text-align: center;
  margin-bottom: 30px;
}
/* line 32, ../../sass/views/main.scss */
#main-jumbotron #title h1 {
  font-family: 'Oxygen', sans-serif;
}
/* line 35, ../../sass/views/main.scss */
#main-jumbotron #title p {
  font-size: 16px;
  font-weight: 300;
  margin-top: 300px;
  text-shadow: white 0px 0px 6px;
}

/* line 44, ../../sass/views/main.scss */
#how-wrapper {
  background-image: linear-gradient(rgba(255, 255, 255, 0.9), rgba(255, 255, 255, 0.4)), url("../images/blue.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  padding-top: 400px;
  text-align: center;
  font-family: 'Roboto', sans-serif;
}

/* line 52, ../../sass/views/main.scss */
#how-title {
  font-family: 'Oxygen', sans-serif;
}

/* line 57, ../../sass/views/main.scss */
.how-step {
  height: 200px;
  text-align: left;
  margin: 20px;
  padding: 15px 20px;
  border-radius: 8px;
  border: white 1px solid;
  font-color: #181717;
}

/* line 67, ../../sass/views/main.scss */
.arrow {
  font-size: 25px;
  margin: 30px;
  text-align: center;
  bottom: 100px;
}

@keyframes fadein {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
@-moz-keyframes fadein {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
@-webkit-keyframes fadein {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
@-ms-keyframes fadein {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
@-o-keyframes fadein {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
