<div class="container-fluid" id="page-account">
	<div class="row">
		<div class="col-sm-10 col-sm-offset-1" id="account-wrapper">
			<div>
				<div class="col-sm-3">
					<div id="account-menu">
						<ul class="nav nav-pills nav-stacked">
							<li><a href="#/#nav" du-smooth-scroll>Home</a></li>
							<li><a href="#/#account-plan" du-smooth-scroll>My Plan</a></li>
							<li><a href="#/#account-cart" du-smooth-scroll>My Cart</a></li>
						</ul>
					</div>
				</div>
				<div class="col-sm-9">
					<div id="account-main">
						<div id="account-home">
							<h3>My Info<small class="account-section-edit initialism" ng-click="openInfoEditOptions()">  Edit</small></h3>
							<div id="info-table-wrapper">
								<table class="table ">
										<tbody>
											<tr>
												<td class="row-title">User Name <span class="glyphicon glyphicon-pencil inline-pencil" ng-show="openInfoEdits" ng-click="editUserName()"></span></td>
												<td>{{user.username}}</td>
											</tr>
											<tr>
												<td class="row-title">E-mail Address <span class="glyphicon glyphicon-pencil inline-pencil" ng-show="openInfoEdits" ng-click="editEmail()"></span></td>
												<td>{{user.email}}</td>
											</tr>
											<tr>
												<td class="row-title">Password <span class="glyphicon glyphicon-pencil inline-pencil" ng-show="openInfoEdits" ng-click="editPW()"></span></td>
												<td>**********</td>
											</tr>
											<tr>
												<td class="row-title">Address <span class="glyphicon glyphicon-pencil inline-pencil" ng-show="openInfoEdits" ng-click="editAddress()"></span></td>
												<td>
													{{user.address.name}}<br/>
													{{user.address.line1}} {{user.address.line2}}<br/>
													{{user.address.city}}, {{user.address.state}}<br/>
													{{user.address.zip}}
												</td>
											</tr>
											<tr></tr>
										</tbody>
								</table>
								<div class="account-home-edit" ng-show="openUserNameEdit">
									<form ng-submit="saveUserName()" class="form-horizontal">
										<div class="form-group">
											<label for="update-username" class="col-sm-3 control-label">New User Name</label>
											<div class="col-sm-7">
												<input type="text" id="update-username" class="form-control col-sm-7" minlength="4" maxlength="20" value="{{user.username}}" placeholder="{{user.username}}" ng-model="updatedUserName" ng-click="openEditMyInfoMessage = 0">
											</div>
										</div>
										<div class="form-group">
											<label for="pw" class="col-sm-3 control-label">Password</label>
											<div class="col-sm-7">
												<input type="password" id="pw" class="form-control col-sm-7" minlength="8" placeholder="Enter your password" ng-model="userNamePW" ng-click="openEditMyInfoMessage = 0">
											</div>
										</div>
										<div class="form-group">
											<div class="col-sm-offset-3 col-sm-7">
												<button type="submit" class="btn btn-default">Save</button>
												<button type="button" class="btn btn-default" ng-click="cancelUserName()">Cancel</button>
											</div>
										</div>
									</form>
								</div>
								<div class="account-home-edit" ng-show="openEmailEdit">
									<form ng-submit="saveEmail()" class="form-horizontal">
										<div class="form-group">
											<label for="update-email" class="col-sm-3 control-label">New E-mail Address</label>
											<div class="col-sm-7">
												<input type="email" id="update-email" class="form-control col-sm-7" value="{{user.email}}" placeholder="{{user.email}}" ng-model="updatedEmail" ng-click="openEditMyInfoMessage = 0">
											</div>
										</div>
										<div class="form-group">
											<label for="pw" class="col-sm-3 control-label">Password</label>
											<div class="col-sm-7">
												<input type="password" id="pw" class="form-control col-sm-7" minlength="8" placeholder="Enter your password" ng-model="emailPW" ng-click="openEditMyInfoMessage = 0">
											</div>
										</div>
										<div class="form-group">
											<div class="col-sm-offset-3 col-sm-7">
												<button type="submit" class="btn btn-default">Save</button>
												<button type="button" class="btn btn-default" ng-click="cancelEmail()">Cancel</button>
											</div>
										</div>
									</form>
								</div>
								<div class="account-home-edit" ng-show="openPWEdit">
									<form ng-submit="savePW()" class="form-horizontal">
										<div class="form-group">
											<label for="update-pw" class="col-sm-3 control-label">New Password</label>
											<div class="col-sm-7">
												<input type="password" id="update-pw" class="form-control col-sm-7" minlength="8" ng-model="updatedPW" ng-click="openEditMyInfoMessage = 0">
											</div>
										</div>
										<div class="form-group">
											<label for="update-pw-confirm" class="col-sm-3 control-label">Confirm Password</label>
											<div class="col-sm-7">
												<input type="password" id="update-pw-confirm" class="form-control col-sm-7" minlength="8" ng-model="updatedPWConfirm" ng-click="openEditMyInfoMessage = 0">
											</div>
										</div>
										<div class="form-group">
											<label for="pw" class="col-sm-3 control-label">Old Password</label>
											<div class="col-sm-7">
												<input type="password" id="pw" class="form-control col-sm-7" minlength="8" placeholder="Enter your password" ng-model="pwPW" ng-click="openEditMyInfoMessage = 0">
											</div>
										</div>
										<div class="form-group">
											<div class="col-sm-offset-3 col-sm-7">
												<button type="submit" class="btn btn-default">Save</button>
												<button type="button" class="btn btn-default" ng-click="cancelPW()">Cancel</button>
											</div>
										</div>
									</form>
								</div>
								<div class="account-home-edit" ng-show="openAddressEdit">
									<form ng-submit="saveAddress()" class="form-horizontal">
										<div class="form-group">
											<label for="update-name" class="col-sm-3 control-label">Name</label>
											<div class="col-sm-7">
												<input type="text" class="form-control col-sm-7" value="{{user.address.name}}" placeholder="{{user.address.name}}" id="update-name" ng-model="updatedName" ng-click="openEditMyInfoMessage = 0">
											</div>
										</div>
										<div class="form-group">
											<label for="update-add1" class="col-sm-3 control-label">Address 1</label>
											<div class="col-sm-7">
												<input type="text" class="form-control col-sm-7" value="{{user.address.line1}}" placeholder="{{user.address.line1}}" id="update-add1" ng-model="updatedAdd1" ng-click="openEditMyInfoMessage = 0">
											</div>
										</div>
										<div class="form-group">
											<label for="update-add2" class="col-sm-3 control-label" >Address 2</label>
											<div class="col-sm-7">
												<input type="text" class="form-control col-sm-7" value="{{user.address.line2}}" placeholder="{{user.address.line2}}"  id="update-add2" ng-model="updatedAdd2" ng-click="openEditMyInfoMessage = 0">
											</div>
										</div>
										<div class="form-group">
											<label for="update-city" class="col-sm-3 control-label">City</label>
											<div class="col-sm-7">
												<input type="text" id="update-city" class="form-control col-sm-7" value="{{user.address.city}}" placeholder="{{user.address.city}}" ng-model="updatedCity" ng-click="openEditMyInfoMessage = 0">
											</div>
										</div>
										<div class="form-group">
											<label for="update-state-zip" class="col-sm-3 control-label">State / Zip code</label>
											<div class="col-sm-3">
												<select id="update-state" class="form-control col-sm-7" value="{{user.address.state}}" ng-model="updatedState" ng-click="openEditMyInfoMessage = 0">
														<option class="optionState" value="AL">AL</option>
														<option class="optionState" value="AK">AK</option>
														<option class="optionState" value="AZ">AZ</option>
														<option class="optionState" value="AR">AR</option>
														<option class="optionState" value="CA">CA</option>
														<option class="optionState" value="CO">CO</option>
														<option class="optionState" value="CT">CT</option>
														<option class="optionState" value="DE">DE</option>
														<option class="optionState" value="DC">DC</option>
														<option class="optionState" value="FL">FL</option>
														<option class="optionState" value="GA">GA</option>
														<option class="optionState" value="HI">HI</option>
														<option class="optionState" value="ID">ID</option>
														<option class="optionState" value="IL">IL</option>
														<option class="optionState" value="IN">IN</option>
														<option class="optionState" value="IA">IA</option>
														<option class="optionState" value="KS">KS</option>
														<option class="optionState" value="KY">KY</option>
														<option class="optionState" value="LA">LA</option>
														<option class="optionState" value="ME">ME</option>
														<option class="optionState" value="MD">MD</option>
														<option class="optionState" value="MA">MA</option>
														<option class="optionState" value="MI">MI</option>
														<option class="optionState" value="MN">MN</option>
														<option class="optionState" value="MS">MS</option>
														<option class="optionState" value="MO">MO</option>
														<option class="optionState" value="MT">MT</option>
														<option class="optionState" value="NE">NE</option>
														<option class="optionState" value="NV">NV</option>
														<option class="optionState" value="NH">NH</option>
														<option class="optionState" value="NJ">NJ</option>
														<option class="optionState" value="NM">NM</option>
														<option class="optionState" value="NY">NY</option>
														<option class="optionState" value="NC">NC</option>
														<option class="optionState" value="ND">ND</option>
														<option class="optionState" value="OH">OH</option>
														<option class="optionState" value="OK">OK</option>
														<option class="optionState" value="OR">OR</option>
														<option class="optionState" value="PA">PA</option>
														<option class="optionState" value="RI">RI</option>
														<option class="optionState" value="SC">SC</option>
														<option class="optionState" value="SD">SD</option>
														<option class="optionState" value="TN">TN</option>
														<option class="optionState" value="TX">TX</option>
														<option class="optionState" value="UT">UT</option>
														<option class="optionState" value="VT">VT</option>
														<option class="optionState" value="VA">VA</option>
														<option class="optionState" value="WA">WA</option>
														<option class="optionState" value="WV">WV</option>
														<option class="optionState" value="WI">WI</option>
														<option class="optionState" value="WY">WY</option>
												</select>
											</div>
											<div class="col-sm-4">
												<input type="text" id="update-zip" pattern="^\b\d{5}(-\d{4})?\b$" class="form-control col-sm-7" placeholder="{{user.address.zip}}" value="{{user.address.zip}}" ng-model="updatedZip" ng-click="openEditMyInfoMessage = 0">
											</div>
										</div>
										<div class="form-group">
											<label for="pw" class="col-sm-3 control-label">Password</label>
											<div class="col-sm-7">
												<input type="password" id="pw" class="form-control col-sm-7" minlength="8" placeholder="Enter your password" ng-model="addressPW" ng-click="openEditMyInfoMessage = 0">
											</div>
										</div>
										<div class="form-group">
											<div class="col-sm-offset-3 col-sm-7">
												<button type="submit" class="btn btn-default">Save</button>
												<button type="button" class="btn btn-default" ng-click="cancelAddress()">Cancel</button>
											</div>
										</div>
									</form>
								</div>
								<div class="form-message" ng-show="openEditMyInfoMessage">{{editMyInfoMessage}}</div>
							</div>
						</div>							
						<hr>
						<div id="account-plan" class="account-section">
							<h3>My Plan <small><span class="account-section-edit initialism" ng-click="editMyPlan()">  Edit</span></small></h3>
							<div id="plan-table-wrapper">
								<table class="table"> 
									<tbody>
										<tr>
											<td class="row-title">Total Supply (fl. oz.)</td>
											<td>{{user.plan.supplyOz}}
											<span class="updatedPlanInfo" ng-show="openUpdatedPlanInfo"> <span class="glyphicon glyphicon-triangle-right"></span> {{planUpdate.supplyOz}}</span></td>
										</tr>
										<tr>
											<td class="row-title">Delivery Frequency</td>
											<td>{{user.plan.delivery.option1}}  
												<span class="updatedPlanInfo" ng-show="openUpdatedPlanInfo"> <span class="glyphicon glyphicon-triangle-right"></span> {{planUpdate.delivery.option1}}</span>
											</td>
										</tr>
										<tr>
											<td class="row-title">Scheduled Delivery</td>
											<td>{{user.plan.delivery.detail}}
												<span class="updatedPlanInfo" ng-show="openUpdatedPlanInfo"> <span class="glyphicon glyphicon-triangle-right"></span> {{planUpdate.delivery.detail}}</span>
											</td>
										</tr>
										<tr></tr>
									</tbody>
								</table>
								<div class="updatedPlanMessage" ng-show="openUpdatedPlanInfo">Please review and confirm your change.   <button class="btn btn-xs btn-default" type="button" ng-click="saveUpdatedPlan()">Confirm</button> <button class="btn btn-xs btn-default" type="button" ng-click="discardUpdatedPlanInfo()">Cancel</button></div>
							</div>
						</div>
						<hr>
						<div id="account-cart" class="account-section">
							<h3>My Cart</h3>
							<div id="cart-table-wrapper">
								<div class="alert alert-info" ng-show="cartAvailable">There are items in <a href="#/cart">Cart</a> that are not saved in your account. </div>
								<div class="alert alert-warning" ng-show="notSaved">Sorry, something went wrong. Please try again.</div>
								<div class="col-sm-2 col-xs-1" id="water-drop" ng-hide="noCart"><span class="glyphicon glyphicon-tint"></span></div>
								<div id="water-goal-bar" class="col-sm-8 col-xs-10" ng-hide="noCart">
									<uib-progressbar max="totalOz" value="currentOz" type="info" title="waterGoalBar"><span style="color:white; white-space:nowrap;">{{currentOz}} / {{totalOz}} fl.oz.</span></uib-progressbar>
								</div>
								<table class="table table-striped" ng-hide="noCart">
									<thead>
										<tr>
											<th>#</th>
											<th>Item</th>
											<th></th>
											<th class="pq">Price</th>
											<th class="pq">Quantity</th>
											<th class="ttl">Total</th>
										</tr>
									</thead>
									<tbody>
										<tr ng-repeat="item in cartArr">
											<td>{{$index + 1}}</td>
											<td><img class="cart-img" ng-src="{{item.img[0]}}"></td>
											<td>{{item.name}}, {{item.oz}}fl. oz., {{item.package.type}} of {{item.package.qty}} </td>
											<td class="pq">{{item.price}}</td>
											<td class="pq" >
												<span ng-hide="openPencil">{{item.cart.qty}}</span>
												<span ng-show="openPencil">
													<input type="number" min="0" class="cart-qty-edit" ng-model="$parent.qtyUpdated" ng-change="updated(this)">
												</span>
												<span class="glyphicon glyphicon-pencil" ng-click="qtyEdit(this)">
													</span>
											</td>
											<td class="ttl" ng-model="itemTotal">${{item.cart.total}}</td>
										</tr>
										<tr class="info">
											<td>Total</td>
											<td></td>
											<td></td>
											<td></td>
											<td class="pq">{{cartTotalItems}}</td>
											<td id="totalAmount" class="ttl">${{cartTotal}}</td>
										</tr>
									</tbody>
								</table>
							</div>
							<div id="button-wrapper" ng-hide="noCart">
								<button type="button" class="btn btn-info btn-sm cart-button" ng-click="removeAll()">Remove All</button>
								<button type="button" class="btn btn-primary btn-sm cart-button" ng-click="checkOut()">Check Out</button>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>