<div class="container-fluid" id="main-jumbotron">
	<div class="col-sm-12">
		<div class="row">
			<div class="col-sm-6 col-sm-offset-3" id="jumbo-box-wrapper" ng-class="{imgOn: hover}" ng-mouseenter="hover = 1" ng-mouseleave="hover = 0">
				<div class="jumbo-box">
					<div id="title">
						<h1>HydroSource <br/><small>your premium water subscription</small></h1><p>Water supply you need, delivered at your doorstep.<br/> HydroSource helps you to stay hydrated.</p> 
					</div>
				</div>
			</div>
			<div class="col-sm-6 col-sm-offset-3 jumbo-box">
				<div class="arrow">
					<a href="#how-title" du-smooth-scroll><span class="glyphicon glyphicon-circle-arrow-down"></span></a>
				</div>
			</div>
		</div>
	</div>
</div>

<div class="col-sm-12" id="how-wrapper">
	<div id="how">
		<div class="col-sm-12">
			<h3 id="how-title">How it works</h3>
		</div>
		<div class="col-sm-4 how-step-wrapper">
			<div class="how-step how-step-1">
					<h4>1. You pick the water</h4><p>Choose from a wide selection of premium water (50+) from all over the world.<br/>We calculate recommended daily water intake for you, to help you decide a quantity.</p>
			</div>
		</div>
		<div class="col-sm-4">
			<div class="how-step how-step-2">
				<h4>2. We deliver the water</h4><p>Your water is delivered to your doorstep, based on delivery schedule you choose: weekly, bi-weekly, monthly or custom.</p>
			</div>
		</div>
		<div class="col-sm-4">
			<div class="how-step how-step-3">
				<h4>3. You drink the water</h4><p> Drink and stay hydrated. We will be sending you a remainder to help you stay at the right level of hydration.</p>
				<div>
					<button type="button" class="btn btn-default" ng-hide="loggedIn"><a href="#/calculator/#nav">Get Started</a></button>
				</div>
			</div>
		</div>
		<div class="row">
			<div class="col-sm-4 col-sm-offset-4">
				<div class="arrow">
					<a href="#nav" du-smooth-scroll><span class="glyphicon glyphicon-circle-arrow-up top"></span></a>
				</div>
			</div>
		</div>
	</div>
</div>



