<div class="container-fluid" id="page-store">
	<div class="col-sm-12" id="bottom-half">
		<h2 class="store-title">Store</h2>
		<div id="store-wrapper">
			<div class="col-sm-2 col-xs-1" id="water-drop"><span class="glyphicon glyphicon-tint"></span></div>
			<div id="water-goal-bar" class="col-sm-8 col-xs-10">
				<uib-progressbar max="totalOz" value="currentOz" type="info" title="waterGoalBar"><span style="color:white; white-space:nowrap;">{{currentOz}} / {{totalOz}} fl.oz.</span></uib-progressbar>
			</div>
			<div id="store">
				<div ng-repeat="item in products track by $index" class="col-xs-12 col-sm-6 col-md-4 col-lg-3 item">
					<img class="item-img" ng-init="changingIndex = 0" ng-src="{{item.img[changingIndex]}}" ng-mouseenter="changingIndex = changingIndex + 1" ng-mouseleave="changingIndex = changingIndex - 1">
					<div class="item-title">
						<strong>{{item.name}}</strong><br/>{{item.oz}}fl. oz., {{item.package.type}} of {{item.package.qty}}
					</div>
					<div class="item-price">$ {{item.price}}</div>
					<div class="item-buy">
						<span class="glyphicon glyphicon-minus" ng-click="removeItem($index)"></span> 
						<div id="display">{{item.cart.qty}}</div> 
						<span class="glyphicon glyphicon-plus" ng-click="addItem($index)"></span>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>