<div class="container-fluid" id="page-cart">
	<div class="col-sm-10 col-sm-offset-1 col-md-8 col-md-offset-2">
		<div id="cart-wrapper">
			<div class="page-header">
				<h3>Cart</h3>
				<p>Please sign in to check out. If you are new member, please register <a href="#/register"><strong>here.</strong></a></p>
			</div>
			<div id="cart">
				<table class="table">
					<thead>
						<tr>
							<th>#</th>
							<th>Item</th>
							<th></th>
							<th class="pq">Price</th>
							<th class="pq">Quantity</th>
							<th class="ttl">Total</th>
						</tr>
					</thead>
					<tbody>
						<tr ng-repeat="item in cartArr track by $index">
							<td>{{$index + 1}}</td>
							<td class="cart-mg-cell"><img class="cart-img" ng-src="{{item.productImg}}"></td>
							<td>{{item.name}}, {{item.oz}}fl. oz., {{item.package.type}} of {{item.package.qty}} </td>
							<td class="pq">{{item.price}}</td>
							<td class="pq" >
								<span ng-hide="openPencil">{{item.cart.qty}}</span>
								<span ng-show="openPencil">
									<input type="number" min="0" class="cart-qty-edit" ng-model="$parent.qtyUpdated" ng-change="updated(this)">
								</span>
								<span class="glyphicon glyphicon-pencil" ng-click="qtyEdit(this)">
									</span>
							</td>
							<td class="ttl" ng-model="itemTotal">$ {{item.cart.total}}</td>
						</tr>
						<tr class="info">
							<td>Total</td>
							<td></td>
							<td></td>
							<td></td>
							<td class="pq">{{cartTotalItems}}</td>
							<td id="totalAmount" class="ttl">$ {{cartTotal}}</td>
						</tr>
					</tbody>
				</table>
				<div id="button-wrapper">
					<button type="button" class="btn btn-warning btn-sm cart-button" ng-click="resetCart()">Reset Cart</button>
					<button type="button" class="btn btn-primary btn-sm cart-button"><a href="#/store">Back to Store</a></button>
					<!-- If logged in, go to payment; if not, go to register/sign in -->
					<button type="button" class="btn btn-info btn-sm cart-button" ng-click="checkOut()">Check Out</button>
				</div>
			</div>
		</div>
	</div>	
</div>
