<div class="container">
	<div class="col-sm-12">
		<form action="http://localhost:3000/stripe" method="POST">
  		<script src="https://checkout.stripe.com/checkout.js" class="stripe-button" data-key="pk_test_542jVkNp2tVTQmzjscWkHT7u" data-amount="999" data-name="Demo Site" data-description="Widget" data-image="https://stripe.com/img/documentation/checkout/marketplace.png" data-locale="auto">
 		 </script>
		</form>

	</div>

	Name<input type="text" ng-model="name">
	Amount<input type="text" ng-model="total">
	<button ng-click="payOrder()">Pay</button>
</div>