/* line 1, ../../sass/views/register.scss */
#page-register {
  background-image: linear-gradient(rgba(255, 255, 255, 0.4), rgba(255, 255, 255, 0.9)), url("../images/main-jbtr.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  height: 100vh;
  font-family: 'Roboto', sans-serif;
}

/* line 9, ../../sass/views/register.scss */
.page-header > h3 {
  font-family: 'Oxygen', sans-serif;
}

/* line 12, ../../sass/views/register.scss */
#registration-form {
  margin-bottom: 20px;
}

/* line 15, ../../sass/views/register.scss */
#registered-info {
  background-color: white;
  border-radius: 8px;
  padding: 25px 20px;
}
