#page-cart {
	background-image: linear-gradient(rgba(255,255,255,0.3),rgba(255,255,255,0.6)), url('../images/water-store.jpg');
	background-repeat: no-repeat;
	background-size: cover;
	min-height: 100vh;
}

#cart-wrapper {
	margin: 20px 15px 35px 15px;
	font-family: 'Roboto', sans-serif;
}

#cart {
	background-color: white;
	border-radius: 8px;
	padding: 15px;
	min-width: 390px;
}

#water-drop {
	text-align: right;
}

#button-wrapper {
	text-align: center;
	.cart-button {
		margin: 5px 10px 20px 10px;
	}
}
.pq {
	text-align: center;
	width: 10%;
}
.ttl {
	width: 12%;
	text-align: center;
}
.cart-img-cell {
	text-align: center;
}
.cart-img {
	max-width: 90%;
	max-height: 100px;
	margin: 5px;
}
.cart-qty-edit {
	width: 65%;
}
