#main-jumbotron {
	background-image: linear-gradient(rgba(255,255,255,0.3),rgba(255,255,255,0.6)), url('../images/main-jbtr.jpg');
	background-repeat: no-repeat;
	background-size: cover;
	height: 100vh;
	width: 100%;
	margin: 0px;
	padding: 0px;

	
	#jumbo-box-wrapper {
		margin-top: 30px;
	}
	.jumbo-box {
		text-align: center;
		opacity: 1;
		-webkit-animation: fadein 4s;
		-moz-transition: fadein 4s;
		-o-transition: fadein 4s;
		-ms-transition: fadein 4s;
		transition: fadein 4s;

	}
	.imgOn {
		background-image: url('../images/water-in-body.png');
		background-repeat: no-repeat;
		background-position: center;
		opacity: 0.8;
	}
		#title {
				text-align: center;
				margin-bottom: 30px;
				h1 {
					font-family: 'Oxygen', sans-serif;
				}
				p {
					font-size: 16px;
					font-weight: 300;
					margin-top: 300px;
					text-shadow: white 0px 0px 6px;
				}	
		}
}

#how-row {
	padding: 0px;
}

#how-wrapper {
	background-image: linear-gradient(rgba(255,255,255,0.9),rgba(255,255,255,0.4)), url('../images/blue.jpg');	
	background-repeat: no-repeat;
	background-size: cover;
	padding-top: 400px;
	text-align: center;
	font-family: 'Roboto', sans-serif;
}
#how-title {
	font-family: 'Oxygen', sans-serif;
}


.how-step {
	min-height: 200px;
	text-align: left;
	margin: 20px;
	padding: 15px 20px;
	border-radius: 8px;
	border: white 1px solid;
	font-color: #181717;
}

.arrow {
	font-size: 25px;
	margin: 30px;
	text-align: center;
	bottom: 100px;
}

	@keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
	}

	@-moz-keyframes fadein {
	    from { opacity: 0; }
	    to   { opacity: 1; }
	}

	@-webkit-keyframes fadein {
	    from { opacity: 0; }
	    to   { opacity: 1; }
	}

	@-ms-keyframes fadein {
	    from { opacity: 0; }
	    to   { opacity: 1; }
	}

	@-o-keyframes fadein {
	    from { opacity: 0; }
	    to   { opacity: 1; }
	}



