// Mixins - - - - - - - - - - - - - - - - -
@mixin breakpoint($point) {
	@if $point == 320 {
		@media (min-width: 320px) { @content; }
	} 
	@else if $point == 480 {
		@media (min-width: 480px) { @content; }
	}
	@else if $point == 768 {
		@media (min-width: 768px) { @content; }
	}
	@else if $point == 992 {
		@media (min-width: 992px) { @content; }
	}
	@else if $point == 1200 {
		@media (min-width: 1200px) { @content; }
	}
	@else if $point {
		@media (min-width: $point) { @content; }
	}
}


// - - - - - - - - - - - - - - - - - - - - - 