#page-store {
	padding: 0px;
	background-image: linear-gradient(rgba(255,255,255,0.3),rgba(255,255,255,0.6)), url('../images/water-store.jpg');
	background-repeat: no-repeat;
	background-size: cover;
}

.store-title {
	text-align: center;
	font-family: "Oxygen", sans-serif;
	margin: 40px 20px 30px 20px;
}

#store-wrapper {
	width: 90%;
	margin: auto;
}

#store-buttons-wrapper {
	text-align: justify;
	margin-bottom: 10px;
}
#store {
	font-family: 'Roboto', sans-serif;
	display: inline-block;
	background-color: white;
	padding: 30px 25px;
	border-radius: 8px;
	border: 1px solid #e1fcff;
	text-align: center;
	margin-bottom: 50px;
}

.item {
	display: inline-block;
	height: 300px;
	padding: 10px;
	margin: 30px auto;
	float: none !important;
	min-width: 220px;
	text-align: center;
}

.item-img {
	height: 60%;
	margin: auto;
}

.item-title {
	margin: 20px 10px 10px 10px;
	font-size: 15px;
	line-height: 18px;
}

.item-price{
	font-size: 16px;
}

.item-buy {
	margin: 10px;
}

#display {
	width: 40px;
	display: inline-block;
	font-size: 14px;
	border-radius: 2px;
	border: 2px solid #6f88a5;
	margin: 0px 5px;
}

