#page-store {
	padding: 0px;
	background-image: linear-gradient(rgba(255,255,255,0.3),rgba(255,255,255,0.6)), url('../images/water-store.jpg');
	background-repeat: no-repeat;
	background-size: cover;
	min-width: 400px;
}
// #goal {
// 	width: 205px;
// 	position: fixed;
// 	padding: 15px;
// 	z-index: 10;
// 	opacity: 0.7;
// 	border-radius: 8px;
// 	border: 3px solid #3deaaf;
// 	background-color: #9ffbdc;
// 	margin-left: -20px;
// 	margin-top: 12px;
// 	font-color: black;
// 	font-size: 13px;	
// 	font-family: "Oxygen", sans-serif;
// }

// #goal-title {
// 	font-size: 15px;
// 	color: black;

// }
// #goal-body-1 {
// 	padding-left: 20px;
// 	padding-top: 10px;
// 	font-size: 16px;
// 	font-color: black;
// }

// #goal-body-2 {
// 	padding-left: 13px;
// 	padding-top: 10px;
// 	font-color: black;
// 	font-size: 14px;
// }

.store-title {
	text-align: center;
	font-family: "Oxygen", sans-serif;
	margin: 40px 20px 30px 20px;
}

#store-wrapper {
	width: 90%;
	margin: auto;
}

#store-buttons-wrapper {
	text-align: justify;
	margin-bottom: 10px;
}
#store {
	font-family: 'Roboto', sans-serif;
	display: inline-block;
	background-color: white;
	padding: 30px 25px;
	border-radius: 8px;
	border: 1px solid #e1fcff;
	text-align: center;
	margin-bottom: 50px;
}

.item {
	display: inline-block;
	height: 300px;
	padding: 10px;
	margin: 30px auto;
	float: none !important;
	min-width: 220px;
	text-align: center;
}

.item-img {
	height: 60%;
	margin: auto;
}

.item-title {
	margin: 20px 10px 10px 10px;
	font-size: 15px;
	line-height: 18px;
}

.item-price{
	font-size: 16px;
}

.item-buy {
	margin: 10px;
}

#display {
	width: 40px;
	display: inline-block;
	font-size: 14px;
	border-radius: 2px;
	border: 2px solid #6f88a5;
	margin: 0px 5px;
}

