@import 'views/main';
@import 'views/store';
@import 'views/cart';
@import 'views/signin';
@import 'views/register';
@import 'views/account';
@import 'views/signout';
@import 'views/calc';
body {
	max-height: 100vh;
	// min-width: 1200px;
}
#nav {
	background-color: transparent;
	font-family: 'Libre Franklin', sans-serif;
	font-size: 13px;
	#brand {
	font-family: 'Oxygen', sans-serif;
	}
}

#view {
	min-width: 400px;
}
